*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

/*Navigation bar*/
.navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #B5AA99;
	position: sticky;
	top: 0;
}
.navbar ul{
	display: flex;
	list-style: none;
	margin: 20px 0px;
}
.navbar ul li{
	font-family: century;
	font-size: 1.1rem;
	font-weight: bold;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	padding: 8px 25px;
	transition: all .5s ease;
}
.navbar ul li a:hover{
	background-color: white;
	color: black;
	box-shadow: 0 0 10px #008169;
}
/*Home*/
#home{
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
	height: 840px;
	justify-content: center;
	align-items: center;
	color: white;
}
#home::before{
	content: "";
	position: absolute;
	top: 0;
	right: 100px;
	background: url('del.jpg') no-repeat center center/cover;
	height: 900px;
	width: 100px;
	z-index: -1;
	opacity: .8;

}
.main{
	display: flex;
	flex-direction: column;
	/*border: 1px solid white;*/
	align-items: center;
	position: absolute;
	top: 30%;
	right: 10%;
}
.headings{
	font-family: century;
	font-size: 3rem;
	text-align: center;
	margin: 40px 0px;
}
.btn{
	padding: 10px 35px;
	background: transparent;
	border: 1px solid white;
	color: white;
	outline: none;
	transition: .6s ease;
}
.btn:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
	font-weight: bold;
}
/*About*/
#about{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 50px;
}
#pic{
	display: flex;
}
#pic img{
	width: 575px;
	height: 400px;
}
#intro{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 10px;
}
#intro h2{
	font-size: 2rem;
	margin-bottom: 20px;
}
/*Contact*/
#contact{
	display: flex;
	flex-direction: column;
	background-color: #4E4637;
	color: white;
	align-items: center;
	padding: 20px;
}
.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
}
.gallery img{
	width: 360px;
	height: 240px;
	margin: 10px;
}
#contact1{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: #C2A05E;
	color: white;
	padding: 20px;
	align-items: center;
}
.form{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	margin: 20px 0px;

}
.input{
	padding: 12px;
	margin: 15px;
	width: 30%;
	border: none;
	outline: none;
}
.media{
	flex-direction: column;
}

#msg{
	width: 20%;
	padding: 10px;
	margin: 15px;
	border: none;
	outline: none;
}
#send{
	padding: 10px;
	width: 10%;
	margin: 40px ;
	border: none;
	outline: none;
}
#send:hover{
	cursor: pointer;
	box-shadow: 0 0 10px #008169;
}
/*LogIn*/
#login{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: #008169;
	color: white;
	padding: 20px;
	align-items: center;
}
.form1{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	margin: 20px 0px;
}
.input1{
	padding: 12px;
	margin: 15px;
	width: 150%;
	border: none;
	outline: none;
}
#send1{
	padding: 10px;
	width: 60%;
	margin: 40px ;
	border: none;
	outline: none;
}
#send1:hover{
	cursor: pointer;
	box-shadow: 0 0 10px #008169;
}
/*Registration*/
#registration{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: #4E4637;
	color: white;
	padding: 20px;
	align-items: center;
}
.form2{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	margin: 20px 0px;
}
.input2{
	padding: 12px;
	margin: 15px;
	width: 150%;
	border: none;
	outline: none;
}
#send2{
	padding: 10px;
	width: 60%;
	margin: 40px ;
	border: none;
	outline: none;
}
#send2:hover{
	cursor: pointer;
	box-shadow: 0 0 10px #008169;
}